[Unit]
Description=VS Code Server
After=network.target
Documentation=https://code.visualstudio.com/docs/remote/vscode-server

[Service]
Type=simple
ExecStart=/bin/bash -c 'export NVM_DIR="{{ install_prefix }}/.nvm"; [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh" --no-use; export PATH="{{ install_prefix }}/.local/bin:{{ install_prefix }}/.npm-global/bin:{{ install_prefix }}/.dotnet:{{ install_prefix }}/.dotnet/tools:{{ install_prefix }}/miniforge3/bin:$PATH; export BROWSER=/usr/local/bin/browser-print; exec runuser -u user -- /usr/bin/code serve-web --host 0.0.0.0 --port {{ vscode_port }} --without-connection-token --accept-server-license-terms --server-data-dir /home/user/.vscode-server'
User=root
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=vscode

[Install]
WantedBy=multi-user.target
